<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  
  <display-name>Orphanet API Endpoint</display-name>
  <servlet>
    <servlet-name>resource</servlet-name>
    <servlet-class>webservices.resource</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>resource</servlet-name>
    <url-pattern>/resource</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>search</display-name>
    <servlet-name>search</servlet-name>
    <servlet-class>webservices.search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>search</servlet-name>
    <url-pattern>/resource/search</url-pattern>
  </servlet-mapping>
  
</web-app>